## .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb

## Build output
MdView/publish_*/
MdView/pub/
MdView/MdView.exe
MdView/W.exe

## WebView runtime
MdView.exe.WebView2/
W.exe.WebView2/

## IDE / tools
.vs/
.dotnet/
.workbuddy/
.vscode/

## OS
Thumbs.db
*.tmp
